.description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1.2em;
}

.price {
    font-weight: 300;
    font-style: italic;
}

.products {
    padding: 1em;
}

.card {
    max-width: 320px;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.full-width {
    width: 100%;
}

.centered {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
}

button {
    margin: 0 1em;
}