<div class="products">
    <h1>Check out our products</h1>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" class="card" *ngFor="let product of products">
            <mat-card>
                <img mat-card-image [src]=product.image alt="Product image">
                <mat-card-content>
                    <h2>{{product.name}}</h2>
                    <p class="description">{{product.description}}</p>
                    <span class="price">&euro;{{product.price}}</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="editProduct(product)">Edit</button>
                    <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    <div>

    <div class="centered">
        <h1>Create Product</h1>
        <form [formGroup]=productFormGroup>
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description">
                <mat-error *ngIf="descriptionFormControl.hasError('required')">
                    Description is <strong>required</strong>
                </mat-error>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                <mat-label>Image</mat-label>
                <input type="text" matInput formControlName="image">
                <mat-error *ngIf="imageFormControl.hasError('required')">
                    Image is <strong>required</strong>
                </mat-error>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                <mat-label>Price</mat-label>
                <input type="number" matInput formControlName="price">
                <mat-error *ngIf="priceFormControl.hasError('required')">
                    Price is <strong>required</strong>
                </mat-error>
                </mat-form-field>
        
            <button mat-raised-button color="primary" (click)="createProduct()">Create</button>
            <button mat-raised-button color="warn" (click)="clear()">Clear</button>
            </form>
    </div>
</div>
