<div class="products">
    <h1>Check out our products</h1>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" class="card" *ngFor="let product of products">
            <mat-card>
                <img mat-card-image [src]=product.image alt="Product image">
                <mat-card-content>
                    <h2>{{product.name}}</h2>
                    <p class="description">{{product.description}}</p>
                    <span class="price">&euro;{{product.price}}</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="editProduct(product)">Edit</button>
                    <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    <div>
</div>
