<div class="form">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
        <div class="input-group">
            <label for="title">Name</label>
            <input type="text" formControlName="title" id="title">
            <div class="err" *ngIf="productForm.value.title.trim().length == 0">Should have a length of atleast 1</div>
        </div>

        <div class="input-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" id="description">
            <div class="err" *ngIf="productForm.value.description.trim().length == 0">Should have a length of atleast 1</div>
        </div>

        <div class="input-group">
            <label for="price">Prijs</label>
            <input type="number" formControlName="price" id="price">
        </div>
    
        <button type="submit" [disabled]="!productForm.valid">Submit to your lord and savior Dan Lngzl</button>
    </form>
</div>